@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #6495ed;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--primary-color);
  padding: 0 20px;
}

.cabecalho .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container img {
  width: 120px;
}

.nav-item {
  margin: 0 10px;
}

.nav-item img {
  width: 30px;
}

.nav-item img:hover {
  transform: scale(1.3);
  transition: 0.7s;
}

header input {
  width: 40%;
  border-radius: 12px;
  padding: 5px 15px;
  border: 2px solid darkslateblue;
}

.navbar {
  display: flex;
}

/* BANNER - CATALOGO */

.header-catalogo {
  background: linear-gradient(270deg, #c77777, #4579db48);
  padding: 20px 40px;
}

.header-catalogo p {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* padding: 15px 0 0 40px; */
}

.header-catalogo h3 {
  font-size: 2.7em;
  font-weight: bold;
  color: rgb(28, 19, 87);
  /* padding: 0 0 15px 40px; */
}

/* CATALOGO DE PRODUTOS */

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

/* CARD - PRODUTOS */

.card {
  width: 17%;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.238);
  border-radius: 12px;
  background-color: #000000;
  display: grid;
  justify-items: center;
}

.card .descricao {
  text-align: center;
  margin: 7px 0;
  width: 100px;
  font-size: 12px;
  color: white;
}

.card .preco{
  text-align: center;
  color: #c77777;
  font-weight: bold;
  margin: 5px 0;
}

.card img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202f4b;
  padding: 20px 0;
}

footer img {
  width: 120px;
}

.indicacao {
  display: flex;
}

legend {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 8px 0;
}

footer input {
  padding-left: 15px;
  border-radius: 6px 0 0 6px;
  border: none;
}

.btn-indicacao {
  border-radius: 0 6px 6px 0;
  border: none;
  color: white;
  background-color: green;
  display: flex;
  align-items: center;
}

.indicacao img {
  width: 20px;
  margin: 5px 7px 5px 5px;
}

.btn-indicacao:active {
  background-color: rgb(6, 51, 6);
}
